{% extends 'navbar.html' %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'Restaurants/menu.css' %}">

<div class="menu-container">
    {% for i in categories %}
    <div class="category-item">
        <a href="{% url 'Restaurants:category' i.cat_id %}">
            <p>{{ i.name }}</p>
            <img src="{{ i.images.url }}" alt="{{ i.name }}" style="width: 120px; height: 120px;">
        </a>
    </div>
    {% endfor %}
</div>

{% endblock %}
